<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash alert-#{key}", width: '100%' %>
<% end %>

<div class="btn-group pull-right" role="group">
  <%= link_to(new_food_path, class: 'btn btn-default') do %>
    <%= icon_for(:add) %>
    Add New Item
  <% end %>

  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
    <%= badge_for(count: @counts[params[:status]]) %>
    <%= "#{params[:status].humanize} Items" %>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li>
      <% @filters.each do |filter| %>
        <%= link_to(foods_path(status: filter), id: "filter_by_status_#{filter}") do %>
          <%= badge_for(count: @counts[filter]) %>
          <%= "#{filter.humanize} Items" %>
        <% end %>
      <% end %>
    </li>
  </ul>
</div>

<h1>Food Items</h1>
<table class='table table-hover'>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Expiration</th>
    <th>Time Left</th>
    <th>Eaten</th>
    <th>Throw Out</th>
  </tr>
  <% @foods.each do |food| %>
    <tr class="<%= freshness_of(food) %>">
      <td><%= link_to(icon_for(:edit), edit_food_path(food), id: "edit_food_#{food.id}", class: 'btn btn-default') %></td>
      <td><%= food.name %></td>
      <td><%= food.expiration %></td>
      <td><%= time_ago_in_words(food.expiration) %></td>
      <% if food.eaten? %>
        <td><%= food.eaten_on %></td>
        <td></td>
      <% elsif food.trashed? %>
        <td></td>
        <td><%= food.trashed_on %></td>
      <% else %>
        <td>
          <%= button_to(eaten_food_path(food), method: :put, id: "eat_food_#{food.id}", class: 'btn btn-default') do %>
            <% icon_for(:eaten) %>
          <% end %>
        </td>
        <td>
          <%= button_to(food_throw_out_path(food), id: "trash_food_#{food.id}", class: 'btn btn-default') do %>
            <% icon_for(:trash) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class='pull-center'>
  <%= will_paginate @foods %>
</div>
