<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <title>Expiration</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to(foods_path, class: 'navbar-brand') do %>
            <img src="<%= asset_path('fridge_and_trash.png') %>">
          <% end %>

          <ul class="nav navbar-nav">
            <li>
              <h3 class='text-primary'>Expiration</h3>
            </li>
            <li>
              <h3 class='tag-line'>
                <small>
                  Keep your food in your fridge - not your trash!
                </small>
              </h3>
            </li>
          </ul>
        </div>

        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">
            <% if session[:user_id] %>
              Signed in as <%= link_to(current_user.email, edit_user_path(current_user)) %>
              <%= link_to 'Logout', sessions_path, method: :delete, class: 'btn btn-default' %>
            <% else %>
              <%= link_to 'Login or Sign Up', new_session_path, class: 'btn btn-default' %>
            <% end %>
          </p>
        </div>
      </div>
    </nav>

    <div>
      <p><%= flash[:notice] %></p>
    </div>

    <%= yield %>

  </body>
</html>
